@charset "utf-8";

/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* ベースブレイクポイント */
/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

@media (max-width: 600px) {}

@media (min-width: 601px) and (max-width: 1000px) {}

@media (min-width: 1001px) {}







/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* COMMON */
/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

* {
  margin: 0px;
  padding: 0px;
}

html {
  margin: 0px;
  padding: 0px;
  overflow-y: scroll;
}

body {
  -webkit-text-size-adjust: none;
  position: relative;
  font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  margin: 0px;
  padding: 0px;
  color: #333;
}

ul,
li {
  list-style: none;
}

div,
p {
  margin: 0px;
  padding: 0px;
}

a {
  color: #398AB0;
  text-decoration: none;
}

a:visited {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: #8EC300;
  text-decoration: none;
}

a:hover img {
  opacity: 0.6;
  filter: alpha(opacity=80);
}

img {
  vertical-align: middle;
  border: none;
}

table {
  text-align: left;
}

table th {
  font-weight: normal;
}


@media (max-width: 600px) {
  body {
    font-size: 90%;
    line-height: 150%;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  body {
    font-size: 95%;
    line-height: 150%;
  }
}

@media (min-width: 1001px) {
  body {
    font-size: 100%;
    line-height: 150%;
  }
}


/* ---------------------------------------------------------------------------------------------- */
/* PAGEJUMP */
/* ---------------------------------------------------------------------------------------------- */

#bt_pagehome,
#bt_pagetop,
#bt_pagebottom {
  display: none;
  z-index: 1000;
  position: fixed;
}

#bt_pagehome img,
#bt_pagetop img,
#bt_pagebottom img {
  width: 100%;
  height: auto;
}

@media (max-width: 600px) {
  #bt_pagetop {
    right: 10px;
    bottom: 10px;
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  #bt_pagetop {
    right: 10px;
    bottom: 10px;
    width: 60px;
    height: 60px;
  }
}

@media (min-width: 1001px) {
  #bt_pagetop {
    right: 15px;
    bottom: 15px;
    width: 80px;
    height: 80px;
  }
}







/* ---------------------------------------------------------------------------------------------- */
/* [使用例] <div class="icon_bottom01">&nbsp;</div> */

.icon_bottom01 {
  width: 100%;
  border-top: 1px solid #ee9c0c;
  margin-top: 50px;
}

.icon_bottom01:before {
  content: "";
  display: block;
  vertical-align: middle;
  padding: 0;
  background-image: url(../images/common/iconset.png);
  background-repeat: no-repeat;

}

.icon_bottom01:before {
  width: 50px;
  height: 50px;
  margin: 0 auto;
  background-size: 500px auto;
  background-position: 0px -100px;
}


/* ---------------------------------------------------------------------------------------------- */
/* [使用例] <div class="icon_bottom02">&nbsp;</div> */

.icon_bottom02 {
  display: inline-block;
  vertical-align: middle;
  padding: 0;
  background-image: url(../images/common/iconset.png);
  background-repeat: no-repeat;
}

.icon_bottom02 {
  width: 50px;
  height: 50px;
  margin: 10px auto;
  background-size: 500px auto;
  background-position: -50px -100px;
}



/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* COMMON BOX */
/* ※BOX01･･･通常 */
/* ※BOX02･･･大め */
/* ※BOX03･･･極大 */
/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

.box01,
.box02,
.box03 {
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 767px) {
  .box01 {
    width: 90%;
  }

  .box02 {
    width: 90%;
  }

  .box03 {
    width: 90%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .box01 {
    width: 600px;
  }

  .box02 {
    width: 700px;
  }

  .box03 {
    width: 700px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .box01 {
    width: 600px;
  }

  .box02 {
    width: 800px;
  }

  .box03 {
    width: 900px;
  }
}

@media (min-width: 1200px) {
  .box01 {
    width: 700px;
  }

  .box02 {
    width: 800px;
  }

  .box03 {
    width: 1000px;
  }
}



/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* COMMON DETAIL */
/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

.clear {
  clear: both;
}

.f10px {
  font-size: 10px;
  line-height: 18px;
}

.f11px {
  font-size: 11px;
  line-height: 19px;
}

.f12px {
  font-size: 12px;
  line-height: 20px;
}

.f13px {
  font-size: 13px;
  line-height: 21px;
}

.f14px {
  font-size: 14px;
  line-height: 22px;
}

.f15px {
  font-size: 15px;
  line-height: 23px;
}

.f16px {
  font-size: 16px;
  line-height: 24px;
}

.f17px {
  font-size: 17px;
  line-height: 25px;
}

.f18px {
  font-size: 18px;
  line-height: 26px;
}

.f19px {
  font-size: 19px;
  line-height: 27px;
}

.f20px {
  font-size: 20px;
  line-height: 28px;
}

.f21px {
  font-size: 21px;
  line-height: 29px;
}

.f22px {
  font-size: 22px;
  line-height: 30px;
}

.f23px {
  font-size: 23px;
  line-height: 31px;
}

.f24px {
  font-size: 24px;
  line-height: 32px;
}

.f25px {
  font-size: 25px;
  line-height: 33px;
}

.f26px {
  font-size: 26px;
  line-height: 34px;
}

.f27px {
  font-size: 27px;
  line-height: 35px;
}

.f28px {
  font-size: 28px;
  line-height: 36px;
}

.f29px {
  font-size: 29px;
  line-height: 37px;
}

.f30px {
  font-size: 30px;
  line-height: 38px;
}


@media (max-width: 600px) {
  .f080p {
    font-size: 60%;
    line-height: 150%;
  }

  .f090p {
    font-size: 70%;
    line-height: 150%;
  }

  .f100p {
    font-size: 80%;
    line-height: 150%;
  }

  .f110p {
    font-size: 90%;
    line-height: 150%;
  }

  .f120p {
    font-size: 100%;
    line-height: 150%;
  }

  .f130p {
    font-size: 110%;
    line-height: 150%;
  }

  .f140p {
    font-size: 120%;
    line-height: 150%;
  }

  .f150p {
    font-size: 130%;
    line-height: 150%;
  }

  .f160p {
    font-size: 140%;
    line-height: 150%;
  }

  .f170p {
    font-size: 150%;
    line-height: 150%;
  }

  .f180p {
    font-size: 160%;
    line-height: 150%;
  }

  .f190p {
    font-size: 170%;
    line-height: 150%;
  }

  .f200p {
    font-size: 180%;
    line-height: 150%;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .f080p {
    font-size: 70%;
    line-height: 150%;
  }

  .f090p {
    font-size: 80%;
    line-height: 150%;
  }

  .f100p {
    font-size: 90%;
    line-height: 150%;
  }

  .f110p {
    font-size: 100%;
    line-height: 150%;
  }

  .f120p {
    font-size: 110%;
    line-height: 150%;
  }

  .f130p {
    font-size: 120%;
    line-height: 150%;
  }

  .f140p {
    font-size: 130%;
    line-height: 150%;
  }

  .f150p {
    font-size: 140%;
    line-height: 150%;
  }

  .f160p {
    font-size: 150%;
    line-height: 150%;
  }

  .f170p {
    font-size: 160%;
    line-height: 150%;
  }

  .f180p {
    font-size: 170%;
    line-height: 150%;
  }

  .f190p {
    font-size: 180%;
    line-height: 150%;
  }

  .f200p {
    font-size: 190%;
    line-height: 150%;
  }
}

@media (min-width: 1001px) {
  .f080p {
    font-size: 80%;
    line-height: 150%;
  }

  .f090p {
    font-size: 90%;
    line-height: 150%;
  }

  .f100p {
    font-size: 100%;
    line-height: 150%;
  }

  .f110p {
    font-size: 110%;
    line-height: 150%;
  }

  .f120p {
    font-size: 120%;
    line-height: 150%;
  }

  .f130p {
    font-size: 130%;
    line-height: 150%;
  }

  .f140p {
    font-size: 140%;
    line-height: 150%;
  }

  .f150p {
    font-size: 150%;
    line-height: 150%;
  }

  .f160p {
    font-size: 160%;
    line-height: 150%;
  }

  .f170p {
    font-size: 170%;
    line-height: 150%;
  }

  .f180p {
    font-size: 180%;
    line-height: 150%;
  }

  .f190p {
    font-size: 190%;
    line-height: 150%;
  }

  .f200p {
    font-size: 200%;
    line-height: 150%;
  }
}


.fc01 {
  color: #EB2020;
}

.fc02 {
  color: #e25500;
}

.fc03 {
  color: #e2a000;
}

.fc04 {
  color: #3f8aad;
}

.fc05 {
  color: #FFFFFF;
}

.fc06 {
  color: #999999;
}

.fbold {
  font-weight: bold;
}

.bgc01 {
  background-color: #eaf4f9;
}

.bgc02 {
  background-color: #d9edf7;
}

.bgc03 {
  background-color: #9ed1e8;
}

.bgc04 {
  background-color: #f7efaf;
}

.bgc05 {
  background-color: #ffe300;
}

.bgc06 {
  background-color: #EFEFEF;
}

.bgc07 {
  background-color: #DFDFDF;
}

.bgc08 {
  background-color: #FFFFFF;
}

.mt00 {
  margin-top: 0px !important;
}

.mt05 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt15 {
  margin-top: 15px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mt70 {
  margin-top: 70px !important;
}

.mt80 {
  margin-top: 80px !important;
}

.mb00 {
  margin-bottom: 0px !important;
}

.mb05 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb15 {
  margin-bottom: 15px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb50 {
  margin-bottom: 50px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

.mb70 {
  margin-bottom: 70px !important;
}

.mb80 {
  margin-bottom: 80px !important;
}

.ml00 {
  margin-left: 0px !important;
}

.ml05 {
  margin-left: 5px !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml15 {
  margin-left: 15px !important;
}

.ml20 {
  margin-left: 20px !important;
}

.ml30 {
  margin-left: 30px !important;
}

.ml40 {
  margin-left: 40px !important;
}

.ml50 {
  margin-left: 50px !important;
}

.ml60 {
  margin-left: 60px !important;
}

.ml70 {
  margin-left: 70px !important;
}

.ml80 {
  margin-left: 80px !important;
}

.mr00 {
  margin-right: 0px !important;
}

.mr05 {
  margin-right: 5px !important;
}

.mr10 {
  margin-right: 10px !important;
}

.mr15 {
  margin-right: 15px !important;
}

.mr20 {
  margin-right: 20px !important;
}

.mr30 {
  margin-right: 30px !important;
}

.mr40 {
  margin-right: 40px !important;
}

.mr50 {
  margin-right: 50px !important;
}

.mr60 {
  margin-right: 60px !important;
}

.mr70 {
  margin-right: 70px !important;
}

.mr80 {
  margin-right: 80px !important;
}

.mlr00 {
  margin-left: 0px;
  margin-right: 0px !important;
}

.mlr05 {
  margin-left: 5px;
  margin-right: 5px !important;
}

.mlr10 {
  margin-left: 10px;
  margin-right: 10px !important;
}

.mlr15 {
  margin-left: 15px;
  margin-right: 15px !important;
}

.mlr20 {
  margin-left: 20px;
  margin-right: 20px !important;
}

.mlr30 {
  margin-left: 30px;
  margin-right: 30px !important;
}

.mlr40 {
  margin-left: 40px;
  margin-right: 40px !important;
}

.mlr50 {
  margin-left: 50px;
  margin-right: 50px !important;
}

.mlr60 {
  margin-left: 60px;
  margin-right: 60px !important;
}

.mlr70 {
  margin-left: 70px;
  margin-right: 70px !important;
}

.mlr80 {
  margin-left: 80px;
  margin-right: 80px !important;
}

.div_l {
  float: left;
}

.div_r {
  float: right;
}

.text_l {
  text-align: left;
}

.text_r {
  text-align: right;
}

.text_c {
  text-align: center;
}

.box_movie {
  text-align: center;
}

.img_l00 {
  float: left;
}

.img_r00 {
  float: right;
}

.img_l10 {
  float: left;
  padding-right: 10px;
}

.img_r10 {
  float: right;
  padding-left: 10px;
}

.img_l15 {
  float: left;
  padding-right: 15px;
}

.img_r15 {
  float: right;
  padding-left: 15px;
}

.img_l20 {
  float: left;
  padding-right: 20px;
}

.img_r20 {
  float: right;
  padding-left: 20px;
}

.w100p {
  width: 100%;
}

/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* MOVIE */
/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
section .box_2_5>.box_movie,
section .box_2_8>.box_movie {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.box_row .box_2_5>.box_movie iframe,
.box_row .box_2_8>.box_movie iframe {
  position: absolute;
  top: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
}

/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */
/* COMMON RESPONSIVE */
/* ---------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------------------------------------------------- */

@media (max-width: 767px) {
  .pcsp_text_c {
    text-align: left;
  }
}

@media (min-width: 768px) {
  .pcsp_text_c {
    text-align: center;
  }
}

.text_caution {
  margin-top: 8px;
  font-size: 0.8em;
}

.text_caution:before {
  content: "※";
  margin-right: 3px;
}

picture {
  display: block;
}

img {
  width: 100%;
  height: auto;
}

.llw img {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

.imgnone {
  display: none;
}

.pcnone {
  display: none;
}

.spnone {
  display: block;
}

@media screen and (max-width: 960px) {
  .spnone {
    display: none !important;
  }

  .pcnone {
    display: block;
  }
}



















img {
  width: 100%;
}

.mainPhoto {
  width: 79%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.mainPhoto02 {
  width: 54%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  margin-top: 4.3125rem;
}

.mainPhoto03 {
  width: 79%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  margin-top: 4.3125rem;
}

.mainPhoto04 {
  width: 100%;
  height: auto;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
  margin-top: 4.3125rem;
}

h1,
h2 {
  font-size: 200%;
}

p {
  font-size: 16px;
}

.photo01 {
  animation: SlideIn 1.6s;
  width: 455px;
}

.photo02 {
  animation: SlideIn 1.6s;
  width: 400px;
}

.photo03 {
  animation: SlideIn 1.6s;
  width: 575px;
}

.photo04 {
  animation: SlideIn 1.6s;
  width: 620px;
}

body {
  font-family: Noto Sans JP;
}

.fadein {
  opacity: 0;
  transform: translate(0, 0);
  transition: all 1.5s;

  &.fadein-left {
    transform: translate(-30px, 0);
  }

  &.fadein-right {
    transform: translate(30px, 0);
  }

  &.fadein-up {
    transform: translate(0, -30px);
  }

  &.fadein-bottom {
    transform: translate(0, 30px);
  }

  &.scrollin {
    opacity: 1 !important;
    transform: translate(0, 0) !important;
  }
}

.text {
  position: absolute;
  bottom: 11%;
  left: 2%;
  animation: slideIn03 3s 1;
}

.text01 {
  position: absolute;
  top: 53%;
  right: 37.6%;
  letter-spacing: 1;
  font-size: 20px;
  font-family: Noto Sans JP;
}

.text02 {
  position: absolute;
  top: 49%;
  right: 28.6%;
  letter-spacing: 1;
  font-size: 20px;
  font-family: Noto Sans JP;
}

.text03 {
  position: absolute;
  top: 72%;
  right: 38.6%;
  letter-spacing: 1;
  font-size: 20px;
  font-family: Noto Sans JP;
}

.text04 {
  position: absolute;
  top: 43%;
  right: 33%;
  letter-spacing: 1;
  font-size: 12px;
  font-weight: 200 !important;
  font-family: Noto Sans JP;
}


.c-heading.is-md span {
  font-size: 48px !important;
  letter-spacing: normal !important;
  color: #DA7E14 !important;
  font-family: Noto Sans JP !important;
  padding: 0 3px!important;
  background: none!important;
}

.c-heading.is-md {
  font-size: 32px !important;
  letter-spacing: normal !important;
  color: #286699 !important;
  font-family: Noto Sans JP !important;
}

.c-block-cases__head {
  margin-top: 4.3125rem;
  margin-bottom: 4.3125rem;
}

html {
  font-family: "Noto Sans JP";
}